@model List<Product>

@{
    ViewData["Title"] = "Product Manager";
}

<h1>Product Manager</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Add New</a>
</p>
<table class="table table-bordered">

    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
               Name
            </th>
            <th>
               Price
            </th>
            <th>
               Release Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.YearlyPrice.ToString("C2")
                </td>
                <td>
                    @item.ReleaseDate.ToShortDateString()
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                </td>
            </tr>
        }
    </tbody>
</table>
