@model List<Technician>

@{
    ViewData["Title"] = "Technician Manager";
}

<h1>Technician Manager</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.TechnicianID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TechnicianID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TechnicianID })
            </td>
        </tr>
}
    </tbody>
</table>
